.base {
  position: sticky;
  top: 0;
  background-color: transparent;
  display:flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
  padding:1rem;
  backdrop-filter:blur(5px);
}

.name {
  font-size:1rem;
}
.bell {
  cursor: pointer;
}
.notifContainer {
  position: relative;
}
