.sideBarContainer {
  width: 20vw;
  z-index: 2;
  position: absolute;
  transition: all 1s ease-in-out;
}
.plainNavbar {
  display: flex;
}
.popup {
  color: white;
  width: 5rem;
}
.base {
  position: sticky;
  top: 0;
  background-color: transparent;
  display:flex;
  padding:1rem;
  backdrop-filter:blur(5px);
}
.navbarContainer {
  display: flex;
  flex-grow: 1;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
}
.brand {
  font-size:1.25rem;
}

.rightnav {
  display:flex;
  gap: 0.5rem;
}

.name {
  font-size:1rem;
}
.bell {
  cursor: pointer;
}
.notifContainer {
  position: relative;
}
.sidebarcontainer {
  position: fixed;
  z-index: -1;
  width: 15vw;
}
.overlay {
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(5px);
  /* background-color: red; */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
