.base {
  min-height:100vh;
  width: 15vw;
  background-color: #191E37;
  overflow: hidden;
}

.header {
  padding:1.5rem 0;
  text-align: center;
  font-size:1.25rem;
}

.icon {
  font-size:1.5rem;
  padding-bottom: 2px;
}

.link {
  position:relative;
  padding-left: 0.5rem;
  margin: 0.75rem 0;
  color:white;
  font-weight:600;
}

.linkname {
  font-size: 1rem;
}

.linkcontent {
  padding: 0.5rem 0 0.5rem 0.25rem;
  position:relative;
  z-index:2;
  background-color:transparent;
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.active {
  color: #191E37;
}

.activebg {
  position: absolute;
  top:0;
  z-index:1;
  width:100%;
  height:100%;
  background-color: #7BD0FF;
  border-radius: 6px;
}
