.createOpenSource {
  padding: 0 4rem;
}
.createOpenSource h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.createOpenSourceBox {
  background-color: #191E37;
  padding: 2rem;
  border-radius: 2rem;
}
.form {
  color: #fff;
}
.createLabel {
  font-size: 1.5rem;
}
.inputForm {
  margin: 5px 0 15px;
}
.inputForm input {
  width: 100%;
  height: 50px;
  border-radius: 7px;
  background-color: transparent;
  border: 3px solid #7BD0FF;
  font-size: 1.25rem;
  color: #fff;
  margin-bottom: 1rem;
}
.inputForm textarea {
  width: 100%;
  height: 200px;
  border-radius: 7px;
  background-color: transparent;
  border: 3px solid #7BD0FF;
  font-size: 1.25rem;
  color: #fff;
}
.submitPart {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.btnSubmit {
  width: 102px;
  height: 47px;
  background: #7BD0FF;
  border-radius: 6px;
  font-size: 24px;
  color: #000;
}