/* Buat pages */

.signInPage {
  background: linear-gradient(180deg, #273C8A 0%, #000000 100%);
  height: 100vh;
  display: flex;
  justify-content: flex-end;
}
.rightPart {
  max-width: 75vw;
  width: 750px;
  background: linear-gradient(180deg, #7BCFFF 0%, #7BB0FF 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header {
  font-size: 1.5rem;
  color: #0E111F;
}
.subheader {
  font-size:2rem;
  color: #0E111F;
}
.form {
  color: #0E111F;
}
.inputForm {
  margin: 30px 0;
}
.inputForm input {
  width: 400px;
  height: 60px;
  border-radius: 7px;
  background-color: transparent;
  border: 3px solid #0E111F;
  font-size: 30px;
  color: #0E111F;
}
.inputForm input::placeholder {
  color: inherit;
}
.submitPart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btnSubmit {
  padding: 0.5rem 1rem;
  background: #0E111F;
  border-radius: 6px;
  font-size: 24px;
  color: #7BD0FF;
}
.registerSuggestion {
  font-size: 13px;
  color: #0E111F;
}
.leftPart {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}