.aboutOpenSource {
  background: #191E37;
  border-radius: 22px;
  margin: 1.5rem;
  padding: 30px;
}
.subtitles {
  font-size: 25px;
  margin: 10px 0;
}
.infoDesc {
  font-size: 16px;
  color: #fff;
  margin: 10px 0;
}
