.feedBlock {
  background: #191E37;
  border-radius: 22px;
  margin: 50px 50px 0;
  padding: 30px;
  color: #fff;
}
.header {
  display: flex;
  align-items: center;
}
.imgContainer {
  width: 65px;
  height: 65px;
}
.imgContainer img {
  width: 100%;
  height: 100%;
  border-radius: 13px;
}
.headerText {
  margin: 0 20px;
}
.headerText h1 {
  font-size: 25px;
  margin-bottom: 10px;
}
.headerText h2 {
  font-size: 18px;
}
.feedContent {
  margin: 15px 0;
}
.statsIcon {
  margin-right: 5px;
  color: #7BD0FF;
  font-size: 1.75rem;
}
.num {
  margin-right: 10px;
}

