.base {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 10px;
  padding:1rem;
  color:black;
  cursor:pointer;
}

.todoCard {
  background-color: #B1E3FF;
}

.ongoingCard {
  background-color: #FFEEB1;
}

.completedCard {
  background-color: #DCFFD9;
}

.title {
  font-weight: 700;
  font-size: 1.25rem;
  color:black;
}
