.base {
  position:relative;
  background-color: #191E37;
  color:whitesmoke;
  padding: 1.5rem;
  padding-bottom: 3rem;
  margin: 1.5rem;
  border-radius: 15px;
}

.logo {
  border-radius: 12px;
}

.heading {
  display:flex;
  gap:1rem;
  margin-bottom:1rem;
}

.buttonWrapper {
  position: absolute;
  bottom:1.5rem;
  right:3rem;
}

.joinbtn{
  color: #0E1957;
  background-color: #7BD0FF;
  padding: 0.5rem 2rem;
  font-weight: 700;
  border-radius:6px;
}
.modal {
  background-color:#191E37;
  text-align: center;
  height: 60vh;
  position: absolute;
  top: 20vh;
  left: 20vw;
  right: 20vw;
  bottom: 20vh;
  color: white;
  padding: 2rem;
  border-radius: 1.5rem;
}
.modal h1 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}
.section {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 50%;
}
.submitPart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btnSubmit {
  width: 102px;
  height: 47px;
  background: #7BD0FF;
  border-radius: 6px;
  font-size: 24px;
  color: #000;
}