.base {
  background-color: #191E37;
  color:whitesmoke;
  padding: 1.5rem;
  margin: 1.5rem;
  border-radius: 15px;
  cursor:pointer;
}

.logo {
  border-radius: 12px;
}

.heading {
  display:flex;
  gap:1rem;
  margin-bottom:1rem;
}

.icons {
  margin-top:1rem;
  display:flex;
  gap:1rem;
}

.iconWrapper{
  display:flex;
  gap:0.5rem;
  align-items: center;
  font-size:1.3rem;
}
