/* Buat pages */

.verifyRequestPage {
  background: linear-gradient(180deg, #273C8A 0%, #000000 100%);
  height: 100vh;
  display: flex;
  justify-content: flex-end;
}
.rightPart {
  width: 750px;
  max-width: 75vw;
  background: linear-gradient(180deg, #7BCFFF 0%, #7BB0FF 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  padding: 5%;
}
.leftPart {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}
.title {
  font-size: 2rem;
  color: #0E111F;
}
.subtitle {
  font-size: 1.25rem;
  color: #0E111F;
}