.base {
  position:relative;
  background-color: #191E37;
  color:whitesmoke;
  padding: 1.5rem;
  padding-bottom: 3rem;
  margin: 1.5rem;
  border-radius: 15px;
}

.logo {
  border-radius: 12px;
}

.heading {
  display:flex;
  gap:1rem;
  margin-bottom:1rem;
}

.buttonWrapper {
  position: absolute;
  bottom:1rem;
  right:1rem;
}

.joinbtn{
  color: #0E1957;
  background-color: #7BD0FF;
  padding: 0.5rem 2rem;
  font-weight: 700;
  border-radius:6px;
}
